*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
ul, ol{
    list-style: none;
    font-size: 15px;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
    color: currentColor;
}
img{
    width: 100%;
}
li{
    line-height: 30px;
}
/* layout */
.b-container{
    max-width: 1200px;
    padding: 0 20px;
    margin: 40px auto;
}
.m-container{
    max-width: 940px;
    padding: 0 20px;
    margin: 40px auto;
}
.s-container{
    max-width: 600px;
    padding: 0 20px;
    margin: 40px auto;
}
/* style */
.row{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}
.flex{
    display: flex;
}
.column{
    flex-direction: column;
}
.justify-center{
    justify-content: center;
}
.justify-spacebetween{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}
.text-align-center{
    text-align: center;
}
.main-header{
    
}
.title{
    font-size: 40px;
    font-weight: bold;
}
.names{
    font-size: 20px;
    font-weight: bold;
}
.main-header{
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.application-section img{
    width: 200px;
}
.application-section .col-33{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    
}
.application-section .col-66 .col-50.phone-image{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    height: 326px;
}
.application-section .col-66, .col-50.left-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.application-section .col-66 .col-50.left-column{
    padding: 20px;
}
.application-section .icon{
    font-size: 75px;
}
.application-section li{
    padding: 10px;
}
.dev-and-plan-section{
    width: 100%;;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 45px;
}
.dev-and-plan-section .s-container .col-50{
    padding: 25px;
}
.dev-and-plan-section .s-container .col-50.white li.names{
    padding-top: 55px;
    padding-bottom: 30px;
}
.card li{
    padding: 10px 0;
}
.card{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 25px;
}
.dev-and-plan-section .card{
    width: 350px;
    align-items: center;
    text-align: center;
}
.dev-and-plan-section .card img{
    width: 200px;
}
.dev-and-plan-section .col-50{
    align-self: flex-end;
}
.testimonials-section li{
    padding: 10px 0;
}
.testimonial-card img{
    width: 200px;
    aspect-ratio: 1/1;
    border-radius: 999px;
    margin: 25px; 
    object-fit: cover;
}
.testimonial-card {
    margin: 25px;
}
.working-with-us-section{
    width: 100%;;
}
.about-us-section .col-66, .about-us-section .col-33{
    padding: 25px;
}
.about-us-section li{
    padding: 20px;
    padding-left: 0;
}
.about-us-section .col-33 .names.violet{
    font-size: 25px;
}
.about-us-image{
    background-image: url(../img/about.jpg);
    background-size: cover;
    border-radius: 999px;
    width: 250px;
    aspect-ratio: 1/1;
    font-size: 90px;
    text-align: end;
}
.title-big{
    font-size: 75px;
    font-weight: bold;
}
.get-started-section{
    width: 100%;
}
.get-started-section li{
    padding: 15px 0;
    line-height: normal;
}
.footer-section a, .get-started-section a{
    text-decoration: underline;
}
.footer-section{
    width: 100%;
}
.footer-section li{
    padding: 15px 0;
}


/* column */
.col-33{
    width: calc(4 *100% / 12 - 25px);
    border-radius: 15px;
}
.col-50{
    width: calc(6 *100% / 12 - 25px);
    border-radius: 15px;
}
.col-66{
    width: calc(8* 100% / 12 - 25px);
    border-radius: 15px;
}
.col-100{
    width: calc(100%);
    border-radius: 15px;
}
/* background color */
.bg-lightblue{
    background-color: #0084FD;
}
.bg-cyan{
    background-color: #B5DDFF;
}
.bg-white{
    background-color: white;
}
.bg-violet{
    background-color: #9792E4
}
.bg-black{
    background-color: #333333;
}
/* font color */
.violet{
    color: #9792E4
}
.lightblue{
    color: #0084FD;
}
.white{
    color: white;
}
.black{
    color: #333333;
}
.yellow{
    color: #FDC15F;
}
/* buttons */
.button{
    line-height: 35px;
    border-radius: 50px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-us-section .button{
    width: 200px;
    gap: 5px;
}
.button-app{
    line-height: 35px;
    border-radius: 50px;
    width: 35px;
    margin-top: 15px;
}
.get-started-section .button{
    line-height: 60px;
    width: 200px;
}