*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
ul, ol{
    list-style: none;
    font-size: 15px;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
    color: currentColor;
}
img{
    width: 100%;
}
/* layout */
.b-container{
    width: 1200px;
    padding: 0 20px;
    margin: 25px 0;
}
.s-container{
    width: 940px;
    padding: 0 20px;
    margin: 25px 0;
}
/* style */
.row{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.justify-spacebetween{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}
.title{
    font-size: 20px;
    font-weight: bold;
}
.main-header{
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.application-section img{
    width: 200px;
}
.application-section .col-33{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    
}
.application-section .col-66 .col-50.phone-image{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    height: 326px;
}
.application-section .col-66, .col-50.left-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.application-section .col-66 .col-50.left-column{
    padding: 20px;
}
.application-section .icon{
    font-size: 75px;
}
.application-section li{
    line-height: 30px;
    padding: 10px;
}
.app-development-section{
    width: 100%;
    background-color: #9792E4;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.app-development-section .s-container{
    padding: 25px;
}






/* column */
.col-33{
    width: calc(4 *100% / 12 - 25px);
    border-radius: 15px;
}
.col-50{
    width: calc(6 *100% / 12 - 25px);
    border-radius: 15px;
}
.col-66{
    width: calc(8* 100% / 12 - 25px);
    border-radius: 15px;
}
.col-100{
    width: calc(100%);
    border-radius: 15px;
}
/* background color */
.bg-lightblue{
    background-color: #0084FD;
}
.bg-cyan{
    background-color: #B5DDFF;
}
.bg-white{
    background-color: white;
}
/* font color */
.lightblue{
    color: #0084FD;
}
.white{
    color: white;
}
.black{
    color: black;
}
/* buttons */
.button{
    line-height: 35px;
    border-radius: 50px;
    width: 120px;
    display: flex;
    justify-content: center;
}