*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
ul, ol{
    list-style: none;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
    color: currentColor;
}
/* layout */
.b-container{
    width: 1200px;
    padding: 0 20px;
}
.s-container{
    width: 940;
    padding: 0 20px;
}

/* buttons */
.button{
    line-height: 35px;
    border-radius: 50px;
    width: 120px;
    display: flex;
    justify-content: center;
}
.button{
    background-color: white;
    color: black;
}

/* style */
.row{
    display: flex;
    flex-direction: row;
}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.justify-spacebetween{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}
.main-header{
    height: 75px;
    background-color: #0084FD;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-header .nav-bar ul{
    color: white;
    gap: 30px;
    font-size: 15px;
}
.main-body{
    display: flex;
    justify-content: center;
}


/* column */
.col-33{
    width: calc(4 *100% / 12);
}
.col-50{
    width: calc(6 *100% / 12);
}
.col-66{
    width: calc(8* 100% / 12);
}
.col-100{
    width: calc(100%);
}
/* background color */
.bg-lightblue{
    background-color: #0084FD;
}